<h1>Sign In</h1>
<p>If admin/librarian sign in with the admin/librarian details</p>
<p>For admin or super admiin access ask a super admin to change your status to admin</p>
<%= form_with(model: @users) do |form| %>
  
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  
    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  

<%= link_to 'Register', new_user_path %>
