<p id="notice"><%= notice %></p>

<p>
  <strong>Library:</strong>
  <%= Library.find_by(id: @waitinglist.library_id).book_title %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find_by(id: @waitinglist.user_id).name %>
</p>

<%= link_to 'Edit', edit_waitinglist_path(@waitinglist) %> |
<%= link_to 'Back', waitinglists_path %>
